
div.top-bar {
    width: 100%;
    background-color: darkmagenta;
    box-shadow: 0rem 0.5rem 0.5rem darkmagenta, 0rem 2rem 8rem magenta;
}

div.top-bar-inner {
    display: flex;
    height: 6rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

div.top-bar-inner>div {
    flex-basis: 33.33%;
    text-align: center;
}

div.tagline {
    font-size: 2rem;
    text-shadow: 0rem 0rem 1rem darkblue;
}

div.title {
    font-size: 4rem;
    text-shadow: 0rem 0rem 1rem magenta;
}

div.right-bar {
    text-shadow: 0rem 0rem 1rem darkblue;
}

div.user-stack {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: 2rem;
    border: 1px solid violet;
    box-shadow: 0 0 1rem violet;
}
div.user-stack>div.user-name {
    font-size: 2rem;
    margin-left: 0.7rem;
    margin-right: 1rem;
}
div.user-stack>div.button {
    margin: 0.7rem;
    width: 1.7rem;
    height: 1.7rem;
    border: 1px solid violet;
    box-shadow: 0 0 1rem violet;
}
div.user-stack>div.button:hover {
    box-shadow: 0 0 2rem white;
}